
*{
    background-color: #F5FBE6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

h1{
    color: #215e61;
}

h3{
    color: #233E61;
}

ul{
    color: #233D4D;
    list-style: numeric;
}

a{
    color: #FE7F2D;
    text-decoration: none;
    border-color: #233D4D;
    background-color: rgba(176, 59, 59, 0.074);
    margin-bottom: 50px;
}

.ult{
    color: black;
}