
*{
    background-color: #FDF5E6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.body{
    margin: auto;
    width: 350px;
}

h1{
    color: #E67E22;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}

h3{
    color: #E67E22;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

ul{
    color: #5C4033;
    list-style: numeric;
    margin-left: 20px;
    margin-bottom: 20px;
}

a{
    color: #E67E22;
    text-decoration: none;
    border-color: #5C4033;
    background-color: rgba(230, 126, 34, 0.1);
    margin-bottom: 50px;
}

.ult{
    color: black;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p{
    max-width: 600px;
    line-height: 1.6;
    margin: 20px auto;
    margin-left: 25px;
    color: #5C4033;
}

#back{
    background-color: #E67E22;
    color: antiquewhite;
    border: 1px solid rgba(92, 64, 51, 0.3);
    padding: 2px;
    display: flex;
    flex: 2;
    margin-bottom: 20px;
    width: auto;
    justify-content: center;
}

li{
    border: black;
    list-style-type: disc;
}