
*{
    background-color: #F5FBE6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: #215E61;
    

}

h3{
    color: #233E61;
}

ul{
    color: #233D4D;
    text-align: center;
    display: inline-block;
}

a{
    color: #FE7F2D;
    text-decoration: none;
    border-color: #233D4D;

}